.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: start;
  grid-gap: 2rem;
  background-color: $color-white;
  padding: 1rem 3rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;

  &.sticky {
    position: fixed;
    z-index: 99;
    box-shadow: 0rem 0.2rem 0.7rem rgba(#000, 0.2);
    background-color: #fffffff2;
  }
  &__logo {
    &:link,
    &:visited {
      font-size: 4rem;
      text-decoration: none;
      display: inline-block;
      color: $color-text-1;
      font-weight: 500;
      justify-self: start;
      span {
        color: $color-primary;
      }
      @media only screen and (max-width: $bp-mediam) {
        font-size: 3.5rem;
      }
      @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
      }
    }
  }
  input,
  .hamburger {
    display: none;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__link {
    &:link,
    &:visited {
      font-size: 1.6rem;
      text-decoration: none;
      color: $color-text-1;
      font-weight: 500;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      color: $color-text-3;
    }
  }
  &__btn {
    &:link,
    &:visited {
      padding: 1rem 2.4rem;
      color: $color-white;
      display: inline-block;
      text-align: center;
      justify-self: end;
      background-color: $color-primary;
    }
    &:hover,
    &:active {
      background-color: $background-color-5;
    }
  }
}

@media only screen and (max-width: $bp-mediam) {
  .navbar {
    input,
    .hamburger {
      display: block;
    }

    input {
      width: 30px;
      height: 24px;
      position: absolute;
      right: 30px;
      z-index: 2000;
      opacity: 0;
      cursor: pointer;
    }

    .hamburger {
      width: 30px;
      height: 24px;
      position: absolute;
      right: 30px;
      z-index: 1500;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .hamburger .lines {
      width: 100%;
      height: 4px;
      border-radius: 10px;
      display: block;
      background-color: $color-primary;
    }

    &__nav {
      grid-template-columns: 1fr;
      position: absolute;
      justify-content: center;
      top: 0;
      right: 0;
      background-color: $color-white;
      box-shadow: 0rem 0.2rem 1.3rem rgba(#000, 0.7);
      width: 60%;
      gap: 0rem;
      z-index: 1000;
      height: 100vh;
      padding: 3.2rem;
      text-align: center;
      opacity: 0;
      transform: translateX(150%);
      transition: all 0.4s ease-in-out;
    }
    &__list {
      flex-direction: column;
    }
    &__link {
      &:link,
      &:visited {
        font-size: 2rem;
      }
    }
    &__btn {
      &:link,
      &:visited {
        justify-self: center;
        align-self: start;
        font-size: 2rem;
      }
    }
    input[type="checkbox"]:checked ~ &__nav {
      transform: translateX(0%);
      opacity: 1;
    }

    .hamburger .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.3s ease-in-out;
    }

    .hamburger .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.3s ease-in-out;
    }

    input[type="checkbox"]:checked ~ .hamburger .line1 {
      transform: rotate(45deg);
      transition: 0.3s ease-in-out;
      background-color: $color-text-1;
    }

    input[type="checkbox"]:checked ~ .hamburger .line2 {
      display: none;
    }

    input[type="checkbox"]:checked ~ .hamburger .line3 {
      transform: rotate(-45deg);
      transition: 0.3s ease-in-out;
      background-color: $color-text-1;
    }
  }
}
