.heading-1 {
  font-size: 7rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-white;

  @media only screen and (max-width: $bp-large) {
    font-size: 6rem;
  }
  @media only screen and (max-width: $bp-mediam) {
    font-size: 5rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 4.5rem;
  }
}
.heading-2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-primary;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: $bp-mediam) {
    font-size: 3rem;
  }
}
.heading-3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: $color-text-1;

  @media only screen and (max-width: $bp-mediam) {
    font-size: 2.7rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 2.4rem;
  }
}
.heading-4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: $color-text-1;

  @media only screen and (max-width: $bp-mediam) {
    font-size: 2.2rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
}

.heading-5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: $color-text-1;

  @media only screen and (max-width: $bp-mediam) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 1.6rem;
  }
}
.heading-6 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: $color-text-1;
}

.btn {
  font-size: 1.6rem;
  background-color: $color-white;
  border: 2px solid $color-primary;
  color: $color-primary;
  border-radius: 30px;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
.mb-small {
  margin-bottom: 2rem;
}
.mb-mediam {
  margin-bottom: 4rem;
}
.mg {
  margin: 0 auto;
}
